@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600&display=swap");

/* Variables */
$black: #323232;
$white: #ffffff;
$purple: #8458b3;
$grey1: #222021;
$grey2: #363636;
$error: #ff4400;
$success: #66bf3c;
$warning: #e69d00;
$fontfamily: "Noto Sans", sans-serif;
$fontxl: 3rem;
$fontlg: 2.5rem;
$fontmd: 1.5rem;
$fontsm: 1.25rem;
$fontxs: 1rem;
$boxshadow: rgba(149, 157, 165, 0.2) 0px 0.5rem 1.5rem;

/* Helpers */

%textElementsBase {
  margin: 0 0 0.75rem 0;
}

@function rem($value) {
  $remValue: ($value / 16) + rem;
  @return $remValue;
}

@for $i from 1 through 12 {
  .col-#{$i} {
    width: calc(100% / #{$i});
  }
}

/* global styles */

body {
  background-color: $grey1;
  color: $white;
  font-family: $fontfamily;
  font-size: $fontxs;
  font-style: normal;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  @extend %textElementsBase;
}

ul {
  list-style: none;
  margin: 0;
}

button.close {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  position: absolute;
  right: 0.25rem;
  top: 0.25rem;
}
